USE [master]
GO
/****** Object:  Database [BD_RAPPI]    Script Date: 30/6/2026 22:07:16 ******/
CREATE DATABASE [BD_RAPPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_RAPPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_RAPPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_RAPPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_RAPPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_RAPPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_RAPPI]
GO
/****** Object:  User [User_Restricted]    Script Date: 30/6/2026 22:07:16 ******/
CREATE USER [User_Restricted] FOR LOGIN [User_Rappi] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin_User]    Script Date: 30/6/2026 22:07:16 ******/
CREATE USER [Admin_User] FOR LOGIN [Admin_Rappi] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [User_Restricted]
GO
ALTER ROLE [db_owner] ADD MEMBER [Admin_User]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_cantidad_pedidos_cliente]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. FUNCIONES 


CREATE FUNCTION [dbo].[fu_cantidad_pedidos_cliente]
(@p_idcliente VARCHAR(6))
RETURNS INT
AS
BEGIN
  DECLARE @v_cantidad INT;

  SELECT @v_cantidad = COUNT(*)
  FROM PEDIDO
  WHERE id_cliente = @p_idcliente;

  RETURN ISNULL(@v_cantidad, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fu_pedidos_repartidor]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fu_pedidos_repartidor]
(@p_idrepartidor VARCHAR(6))
RETURNS INT
AS
BEGIN
  DECLARE @v_cantidad INT;

  SELECT @v_cantidad = COUNT(*)
  FROM PEDIDO
  WHERE id_repartidor = @p_idrepartidor;

  RETURN ISNULL(@v_cantidad, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fu_productos_vendidos_restaurante]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fu_productos_vendidos_restaurante]
(@p_idrestaurante VARCHAR(6))
RETURNS INT
AS
BEGIN
  DECLARE @v_total INT;

  SELECT @v_total = COUNT(*)
  FROM PEDIDO
  WHERE id_restaurante = @p_idrestaurante;

  RETURN ISNULL(@v_total, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fu_total_gastado_cliente]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fu_total_gastado_cliente]
(@p_idcliente VARCHAR(6))
RETURNS MONEY
AS
BEGIN
  DECLARE @v_total MONEY;

  SELECT @v_total = SUM(costototal)
  FROM PEDIDO
  WHERE id_cliente = @p_idcliente;

  RETURN ISNULL(@v_total, 0);
END;
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [varchar](6) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[apellido] [varchar](60) NOT NULL,
	[correo] [varchar](60) NOT NULL,
	[telefono] [varchar](15) NULL,
	[direccion] [varchar](150) NOT NULL,
	[id_zona] [varchar](6) NOT NULL,
	[id_referencia] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[id_pedido] [varchar](6) NOT NULL,
	[inicio] [datetime] NULL,
	[fin] [datetime] NULL,
	[fecha] [date] NOT NULL,
	[costototal] [money] NOT NULL,
	[estado] [varchar](60) NULL,
	[id_cliente] [varchar](6) NOT NULL,
	[id_pago] [varchar](6) NOT NULL,
	[id_repartidor] [varchar](6) NOT NULL,
	[id_restaurante] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_COMPLETO]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_COMPLETO](
	[id_pedido] [varchar](6) NOT NULL,
	[id_producto] [varchar](6) NOT NULL,
 CONSTRAINT [PK_PEDIDO_COMPLETO] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_CLIENTE_PRODUCTOS]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 7. VISTAS



CREATE VIEW [dbo].[V_CLIENTE_PRODUCTOS] AS

SELECT 

  C.id_cliente,
  C.nombre + ' ' + C.apellido AS Cliente,
  COUNT(PC.id_producto) AS Cantidad_Productos
FROM CLIENTE C

INNER JOIN PEDIDO P ON C.id_cliente = P.id_cliente
INNER JOIN PEDIDO_COMPLETO PC ON P.id_pedido = PC.id_pedido

GROUP BY C.id_cliente, C.nombre, C.apellido;
GO
/****** Object:  View [dbo].[V_CLIENTE_GASTO]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_CLIENTE_GASTO] AS
SELECT 

  C.id_cliente,
  C.nombre + ' ' + C.apellido AS Cliente,
  SUM(P.costototal) AS Total_Gastado,
  AVG(P.costototal) AS Promedio_Pedido,
  COUNT(P.id_pedido) AS Cantidad_Pedidos

FROM CLIENTE C
INNER JOIN PEDIDO P ON C.id_cliente = P.id_cliente
GROUP BY C.id_cliente, C.nombre, C.apellido;
GO
/****** Object:  Table [dbo].[RESTAURANTE]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANTE](
	[id_restaurante] [varchar](6) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[categoria] [varchar](60) NULL,
	[telefono] [int] NULL,
	[id_zona] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_restaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_RESTAURANTE_VENTAS]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[V_RESTAURANTE_VENTAS] AS
SELECT 

  R.id_restaurante,
  R.nombre,
  COUNT(P.id_pedido) AS Total_Pedidos
FROM RESTAURANTE R
INNER JOIN PEDIDO P ON R.id_restaurante = P.id_restaurante
GROUP BY R.id_restaurante, R.nombre;
GO
/****** Object:  Table [dbo].[REPARTIDOR]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARTIDOR](
	[id_repartidor] [varchar](6) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[apellido] [varchar](60) NOT NULL,
	[estado] [varchar](60) NULL,
	[vehiculo] [varchar](60) NULL,
	[id_zona] [varchar](6) NOT NULL,
	[telefono] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_repartidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_REPARTIDOR_PEDIDOS]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[V_REPARTIDOR_PEDIDOS] AS
SELECT 

  R.id_repartidor,
  R.nombre + ' ' + R.apellido AS Repartidor,
  COUNT(P.id_pedido) AS Pedidos_Entregados

FROM REPARTIDOR R

INNER JOIN PEDIDO P ON R.id_repartidor = P.id_repartidor
WHERE P.estado = 'Entregado'
GROUP BY R.id_repartidor, R.nombre, R.apellido;
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[id_pago] [varchar](6) NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[monto] [money] NOT NULL,
	[tipo] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[id_producto] [varchar](6) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[precio] [money] NOT NULL,
	[id_restaurante] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA](
	[id_zona] [varchar](6) NOT NULL,
	[nombre] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([id_cliente], [nombre], [apellido], [correo], [telefono], [direccion], [id_zona], [id_referencia]) VALUES (N'CL001', N'Juan', N'Lopez', N'juanlopez@gmail.com', N'987654321', N'Av. Javier Prado 123', N'Z001', NULL)
INSERT [dbo].[CLIENTE] ([id_cliente], [nombre], [apellido], [correo], [telefono], [direccion], [id_zona], [id_referencia]) VALUES (N'CL002', N'Maria', N'Perez', N'mariap@gmail.com', N'945321789', N'Calle BerlÃ­n 456', N'Z002', NULL)
INSERT [dbo].[CLIENTE] ([id_cliente], [nombre], [apellido], [correo], [telefono], [direccion], [id_zona], [id_referencia]) VALUES (N'CL003', N'Carlos', N'Ramos', N'carlosr@hotmail.com', N'986123654', N'Av. Benavides 789', N'Z003', NULL)
GO
INSERT [dbo].[PAGO] ([id_pago], [fecha_pago], [monto], [tipo]) VALUES (N'PG001', CAST(N'2025-11-01' AS Date), 25.5000, N'Tarjeta')
INSERT [dbo].[PAGO] ([id_pago], [fecha_pago], [monto], [tipo]) VALUES (N'PG002', CAST(N'2025-11-01' AS Date), 30.0000, N'Yape')
INSERT [dbo].[PAGO] ([id_pago], [fecha_pago], [monto], [tipo]) VALUES (N'PG003', CAST(N'2025-11-02' AS Date), 12.5000, N'Yape')
GO
INSERT [dbo].[PEDIDO] ([id_pedido], [inicio], [fin], [fecha], [costototal], [estado], [id_cliente], [id_pago], [id_repartidor], [id_restaurante]) VALUES (N'PD001', CAST(N'2025-11-01T12:00:00.000' AS DateTime), CAST(N'2025-11-01T12:40:00.000' AS DateTime), CAST(N'2025-11-01' AS Date), 25.5000, N'Entregado', N'CL001', N'PG001', N'R001', N'RS001')
INSERT [dbo].[PEDIDO] ([id_pedido], [inicio], [fin], [fecha], [costototal], [estado], [id_cliente], [id_pago], [id_repartidor], [id_restaurante]) VALUES (N'PD002', CAST(N'2025-11-02T13:00:00.000' AS DateTime), CAST(N'2025-11-02T13:30:00.000' AS DateTime), CAST(N'2025-11-02' AS Date), 30.0000, N'Entregado', N'CL002', N'PG002', N'R002', N'RS002')
INSERT [dbo].[PEDIDO] ([id_pedido], [inicio], [fin], [fecha], [costototal], [estado], [id_cliente], [id_pago], [id_repartidor], [id_restaurante]) VALUES (N'PD003', CAST(N'2025-11-03T14:00:00.000' AS DateTime), CAST(N'2025-11-03T14:40:00.000' AS DateTime), CAST(N'2025-11-03' AS Date), 18.0000, N'Entregado', N'CL003', N'PG003', N'R003', N'RS003')
GO
INSERT [dbo].[PEDIDO_COMPLETO] ([id_pedido], [id_producto]) VALUES (N'PD001', N'PR001')
INSERT [dbo].[PEDIDO_COMPLETO] ([id_pedido], [id_producto]) VALUES (N'PD002', N'PR005')
INSERT [dbo].[PEDIDO_COMPLETO] ([id_pedido], [id_producto]) VALUES (N'PD003', N'PR003')
GO
INSERT [dbo].[PRODUCTO] ([id_producto], [nombre], [precio], [id_restaurante]) VALUES (N'PR001', N'Hamburguesa', 12.5000, N'RS001')
INSERT [dbo].[PRODUCTO] ([id_producto], [nombre], [precio], [id_restaurante]) VALUES (N'PR002', N'Pizza Familiar', 35.0000, N'RS004')
INSERT [dbo].[PRODUCTO] ([id_producto], [nombre], [precio], [id_restaurante]) VALUES (N'PR003', N'Pollo Entero', 25.5000, N'RS003')
GO
INSERT [dbo].[REPARTIDOR] ([id_repartidor], [nombre], [apellido], [estado], [vehiculo], [id_zona], [telefono]) VALUES (N'R001', N'Luis', N'Cruz', N'Ocupado', N'Moto', N'Z001', 999888777)
INSERT [dbo].[REPARTIDOR] ([id_repartidor], [nombre], [apellido], [estado], [vehiculo], [id_zona], [telefono]) VALUES (N'R002', N'Erick', N'Reyes', N'Disponible', N'Bicicleta', N'Z002', 988777666)
INSERT [dbo].[REPARTIDOR] ([id_repartidor], [nombre], [apellido], [estado], [vehiculo], [id_zona], [telefono]) VALUES (N'R003', N'Mario', N'Guerra', N'Ocupado', N'Auto', N'Z003', 977666555)
GO
INSERT [dbo].[RESTAURANTE] ([id_restaurante], [nombre], [direccion], [categoria], [telefono], [id_zona]) VALUES (N'RS001', N'La Parrilla Roja', N'Av. Los Incas 345', N'Carnes', 981234567, N'Z001')
INSERT [dbo].[RESTAURANTE] ([id_restaurante], [nombre], [direccion], [categoria], [telefono], [id_zona]) VALUES (N'RS002', N'Sushi Zen', N'Calle Lima 450', N'Japonesa', 982345678, N'Z002')
INSERT [dbo].[RESTAURANTE] ([id_restaurante], [nombre], [direccion], [categoria], [telefono], [id_zona]) VALUES (N'RS003', N'Don Pollo', N'Av. Grau 230', N'Pollos', 983456789, N'Z003')
GO
INSERT [dbo].[ZONA] ([id_zona], [nombre]) VALUES (N'Z001', N'San Isidro')
INSERT [dbo].[ZONA] ([id_zona], [nombre]) VALUES (N'Z002', N'Miraflores')
INSERT [dbo].[ZONA] ([id_zona], [nombre]) VALUES (N'Z003', N'Surco')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLIENTE__2A586E0B96F1E4AB]    Script Date: 30/6/2026 22:07:16 ******/
ALTER TABLE [dbo].[CLIENTE] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_REFERENCIA] FOREIGN KEY([id_referencia])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_REFERENCIA]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_ZONA] FOREIGN KEY([id_zona])
REFERENCES [dbo].[ZONA] ([id_zona])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_ZONA]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_PAGO] FOREIGN KEY([id_pago])
REFERENCES [dbo].[PAGO] ([id_pago])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_PAGO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_REPARTIDOR] FOREIGN KEY([id_repartidor])
REFERENCES [dbo].[REPARTIDOR] ([id_repartidor])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_REPARTIDOR]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_RESTAURANTE] FOREIGN KEY([id_restaurante])
REFERENCES [dbo].[RESTAURANTE] ([id_restaurante])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_RESTAURANTE]
GO
ALTER TABLE [dbo].[PEDIDO_COMPLETO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_COMPLETO_PEDIDO] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[PEDIDO_COMPLETO] CHECK CONSTRAINT [FK_PEDIDO_COMPLETO_PEDIDO]
GO
ALTER TABLE [dbo].[PEDIDO_COMPLETO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_COMPLETO_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[PEDIDO_COMPLETO] CHECK CONSTRAINT [FK_PEDIDO_COMPLETO_PRODUCTO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_RESTAURANTE] FOREIGN KEY([id_restaurante])
REFERENCES [dbo].[RESTAURANTE] ([id_restaurante])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_RESTAURANTE]
GO
ALTER TABLE [dbo].[REPARTIDOR]  WITH CHECK ADD  CONSTRAINT [FK_REPARTIDOR_ZONA] FOREIGN KEY([id_zona])
REFERENCES [dbo].[ZONA] ([id_zona])
GO
ALTER TABLE [dbo].[REPARTIDOR] CHECK CONSTRAINT [FK_REPARTIDOR_ZONA]
GO
ALTER TABLE [dbo].[RESTAURANTE]  WITH CHECK ADD  CONSTRAINT [FK_RESTAURANTE_ZONA] FOREIGN KEY([id_zona])
REFERENCES [dbo].[ZONA] ([id_zona])
GO
ALTER TABLE [dbo].[RESTAURANTE] CHECK CONSTRAINT [FK_RESTAURANTE_ZONA]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([tipo]='Plin' OR [tipo]='Yape' OR [tipo]='Tarjeta'))
GO
/****** Object:  StoredProcedure [dbo].[p_cancelar_pedido]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[p_cancelar_pedido] 
    @id_pedido VARCHAR(6)
AS
BEGIN
    BEGIN TRY
        UPDATE PEDIDO
        SET estado = 'Cancelado',
            fin = GETDATE()
        WHERE id_pedido = @id_pedido AND estado = 'Pendiente';

        PRINT 'Pedido cancelado.';
    END TRY
    BEGIN CATCH
        PRINT 'Error al cancelar: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[p_categoriafav]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. PROCEDIMIENTOS

CREATE   PROCEDURE [dbo].[p_categoriafav]

AS

BEGIN

  BEGIN TRY

    SELECT  

      R.categoria AS [Tipo de Comida], 

      COUNT(PC.id_pedido) AS [Total Pedidos]

    FROM RESTAURANTE R

    INNER JOIN PRODUCTO PR ON R.id_restaurante = PR.id_restaurante

    INNER JOIN PEDIDO_COMPLETO PC ON PR.id_producto = PC.id_producto

    GROUP BY R.categoria

    ORDER BY [Total Pedidos] DESC;

  END TRY

  BEGIN CATCH

    PRINT 'Ocurrio³ un error al generar el ranking de categorias.';

    SELECT 

      ERROR_NUMBER() AS [Numero de Error],

      ERROR_MESSAGE() AS [Mensaje de Error],

      ERROR_PROCEDURE() AS [Procedimiento],

      ERROR_LINE() AS [Li­nea del Error];

  END CATCH

END;

GO
/****** Object:  StoredProcedure [dbo].[p_registrar_pedido_simple]    Script Date: 30/6/2026 22:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[p_registrar_pedido_simple]

  @id_pedido VARCHAR(6),
  @id_cliente VARCHAR(6),
  @id_repartidor VARCHAR(6),
  @id_producto VARCHAR(6),
  @monto MONEY,
  @metodo_pago VARCHAR(60),
  @id_pago VARCHAR(6),
  @id_restaurante VARCHAR(6) 

AS

BEGIN

  BEGIN TRANSACTION;

  BEGIN TRY

    IF @metodo_pago NOT IN ('Tarjeta','Yape','Plin')
    BEGIN
      PRINT 'Metodo de pago invalido';
      ROLLBACK TRANSACTION;
      RETURN;
    END

    INSERT INTO PAGO (id_pago, fecha_pago, monto, tipo)

    VALUES (@id_pago, GETDATE(), @monto, @metodo_pago);

    INSERT INTO PEDIDO (id_pedido, inicio, fecha, costototal, estado, id_cliente, id_pago, id_repartidor, id_restaurante)

    VALUES (@id_pedido, GETDATE(), CAST(GETDATE() AS DATE),@monto, 'Pendiente', @id_cliente, @id_pago, @id_repartidor, @id_restaurante);

    INSERT INTO PEDIDO_COMPLETO (id_pedido, id_producto)

    VALUES (@id_pedido, @id_producto);

    COMMIT TRANSACTION;

    PRINT 'Pedido registrado con exito.';

  END TRY

  BEGIN CATCH

    ROLLBACK TRANSACTION;

    PRINT 'Error al registrar el pedido: ' + ERROR_MESSAGE();

  END CATCH

END;

GO
USE [master]
GO
