USE [master]
GO
/****** Object:  Database [DW_RAPPI]    Script Date: 2/7/2026 23:03:14 ******/
CREATE DATABASE [DW_RAPPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_RAPPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DW_RAPPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_RAPPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DW_RAPPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_RAPPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_RAPPI]
GO
/****** Object:  Table [dbo].[Dim_Cliente]    Script Date: 2/7/2026 23:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Cliente](
	[sk_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente_origen] [varchar](6) NOT NULL,
	[nombre_completo] [varchar](125) NOT NULL,
	[correo] [varchar](60) NOT NULL,
	[telefono] [int] NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NULL,
	[es_actual] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sk_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Repartidor]    Script Date: 2/7/2026 23:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Repartidor](
	[sk_repartidor] [int] IDENTITY(1,1) NOT NULL,
	[id_repartidor_origen] [varchar](6) NOT NULL,
	[nombre_completo] [varchar](125) NOT NULL,
	[vehiculo] [varchar](60) NOT NULL,
	[telefono] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sk_repartidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Restaurante]    Script Date: 2/7/2026 23:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Restaurante](
	[sk_restaurante] [int] IDENTITY(1,1) NOT NULL,
	[id_restaurante_origen] [varchar](6) NOT NULL,
	[nombre_restaurante] [varchar](60) NOT NULL,
	[categoria] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sk_restaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Tiempo]    Script Date: 2/7/2026 23:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Tiempo](
	[id_tiempo] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [int] NOT NULL,
	[nombre_mes] [varchar](20) NOT NULL,
	[dia] [int] NOT NULL,
	[trimestre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Zona]    Script Date: 2/7/2026 23:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Zona](
	[sk_zona] [int] IDENTITY(1,1) NOT NULL,
	[id_zona_origen] [varchar](6) NOT NULL,
	[nombre_zona] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sk_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Pedidos]    Script Date: 2/7/2026 23:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Pedidos](
	[sk_zona] [int] NOT NULL,
	[sk_cliente] [int] NOT NULL,
	[sk_repartidor] [int] NOT NULL,
	[sk_restaurante] [int] NOT NULL,
	[id_tiempo] [int] NOT NULL,
	[id_pedido_origen] [varchar](6) NOT NULL,
	[id_pago_origen] [varchar](6) NOT NULL,
	[tipo_pago] [varchar](60) NOT NULL,
	[monto_total] [money] NOT NULL,
	[cantidad_productos] [int] NOT NULL,
	[tiempo_entrega_minutos] [int] NULL,
	[estado_pedido] [varchar](60) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dim_Cliente] ON 

INSERT [dbo].[Dim_Cliente] ([sk_cliente], [id_cliente_origen], [nombre_completo], [correo], [telefono], [fecha_inicio], [fecha_fin], [es_actual]) VALUES (1, N'CL001', N'Juan Lopez', N'juanlopez@gmail.com', 987654321, CAST(N'2026-05-28T22:31:32.337' AS DateTime), NULL, 1)
INSERT [dbo].[Dim_Cliente] ([sk_cliente], [id_cliente_origen], [nombre_completo], [correo], [telefono], [fecha_inicio], [fecha_fin], [es_actual]) VALUES (2, N'CL002', N'Maria Perez', N'mariap@gmail.com', 945321789, CAST(N'2026-05-28T22:31:32.337' AS DateTime), NULL, 1)
INSERT [dbo].[Dim_Cliente] ([sk_cliente], [id_cliente_origen], [nombre_completo], [correo], [telefono], [fecha_inicio], [fecha_fin], [es_actual]) VALUES (3, N'CL003', N'Carlos Ramos', N'carlosr@hotmail.com', 986123654, CAST(N'2026-05-28T22:31:32.337' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Dim_Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Repartidor] ON 

INSERT [dbo].[Dim_Repartidor] ([sk_repartidor], [id_repartidor_origen], [nombre_completo], [vehiculo], [telefono]) VALUES (1, N'R001', N'Luis Cruz', N'Moto', 999888777)
INSERT [dbo].[Dim_Repartidor] ([sk_repartidor], [id_repartidor_origen], [nombre_completo], [vehiculo], [telefono]) VALUES (2, N'R002', N'Erick Reyes', N'Bicicleta', 988777666)
INSERT [dbo].[Dim_Repartidor] ([sk_repartidor], [id_repartidor_origen], [nombre_completo], [vehiculo], [telefono]) VALUES (3, N'R003', N'Mario Guerra', N'Auto', 977666555)
SET IDENTITY_INSERT [dbo].[Dim_Repartidor] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Restaurante] ON 

INSERT [dbo].[Dim_Restaurante] ([sk_restaurante], [id_restaurante_origen], [nombre_restaurante], [categoria]) VALUES (1, N'RS001', N'La Parrilla Roja', N'Carnes')
INSERT [dbo].[Dim_Restaurante] ([sk_restaurante], [id_restaurante_origen], [nombre_restaurante], [categoria]) VALUES (2, N'RS002', N'Sushi Zen', N'Japonesa')
INSERT [dbo].[Dim_Restaurante] ([sk_restaurante], [id_restaurante_origen], [nombre_restaurante], [categoria]) VALUES (3, N'RS003', N'Don Pollo', N'Pollos')
SET IDENTITY_INSERT [dbo].[Dim_Restaurante] OFF
GO
INSERT [dbo].[Dim_Tiempo] ([id_tiempo], [fecha], [anio], [mes], [nombre_mes], [dia], [trimestre]) VALUES (20251101, CAST(N'2025-11-01' AS Date), 2025, 11, N'November', 1, 4)
INSERT [dbo].[Dim_Tiempo] ([id_tiempo], [fecha], [anio], [mes], [nombre_mes], [dia], [trimestre]) VALUES (20251102, CAST(N'2025-11-02' AS Date), 2025, 11, N'November', 2, 4)
INSERT [dbo].[Dim_Tiempo] ([id_tiempo], [fecha], [anio], [mes], [nombre_mes], [dia], [trimestre]) VALUES (20251103, CAST(N'2025-11-03' AS Date), 2025, 11, N'November', 3, 4)
GO
SET IDENTITY_INSERT [dbo].[Dim_Zona] ON 

INSERT [dbo].[Dim_Zona] ([sk_zona], [id_zona_origen], [nombre_zona]) VALUES (1, N'Z001', N'San Isidro')
INSERT [dbo].[Dim_Zona] ([sk_zona], [id_zona_origen], [nombre_zona]) VALUES (2, N'Z002', N'Miraflores')
INSERT [dbo].[Dim_Zona] ([sk_zona], [id_zona_origen], [nombre_zona]) VALUES (3, N'Z003', N'Surco')
SET IDENTITY_INSERT [dbo].[Dim_Zona] OFF
GO
INSERT [dbo].[Fact_Pedidos] ([sk_zona], [sk_cliente], [sk_repartidor], [sk_restaurante], [id_tiempo], [id_pedido_origen], [id_pago_origen], [tipo_pago], [monto_total], [cantidad_productos], [tiempo_entrega_minutos], [estado_pedido]) VALUES (1, 1, 1, 1, 20251101, N'PD001', N'PG001', N'Tarjeta', 25.5000, 1, 40, N'Entregado')
INSERT [dbo].[Fact_Pedidos] ([sk_zona], [sk_cliente], [sk_repartidor], [sk_restaurante], [id_tiempo], [id_pedido_origen], [id_pago_origen], [tipo_pago], [monto_total], [cantidad_productos], [tiempo_entrega_minutos], [estado_pedido]) VALUES (2, 2, 2, 2, 20251102, N'PD002', N'PG002', N'Yape', 30.0000, 1, 30, N'Entregado')
INSERT [dbo].[Fact_Pedidos] ([sk_zona], [sk_cliente], [sk_repartidor], [sk_restaurante], [id_tiempo], [id_pedido_origen], [id_pago_origen], [tipo_pago], [monto_total], [cantidad_productos], [tiempo_entrega_minutos], [estado_pedido]) VALUES (3, 3, 3, 3, 20251103, N'PD003', N'PG003', N'Yape', 18.0000, 1, 40, N'Entregado')
GO
/****** Object:  Index [IX_Fact_Pedidos_Tiempo]    Script Date: 2/7/2026 23:03:14 ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Pedidos_Tiempo] ON [dbo].[Fact_Pedidos]
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fact_Pedidos_Zona]    Script Date: 2/7/2026 23:03:14 ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Pedidos_Zona] ON [dbo].[Fact_Pedidos]
(
	[sk_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dim_Cliente] ADD  DEFAULT ((1)) FOR [es_actual]
GO
ALTER TABLE [dbo].[Fact_Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CLIENTE] FOREIGN KEY([sk_cliente])
REFERENCES [dbo].[Dim_Cliente] ([sk_cliente])
GO
ALTER TABLE [dbo].[Fact_Pedidos] CHECK CONSTRAINT [FK_FACT_CLIENTE]
GO
ALTER TABLE [dbo].[Fact_Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_FACT_REPARTIDOR] FOREIGN KEY([sk_repartidor])
REFERENCES [dbo].[Dim_Repartidor] ([sk_repartidor])
GO
ALTER TABLE [dbo].[Fact_Pedidos] CHECK CONSTRAINT [FK_FACT_REPARTIDOR]
GO
ALTER TABLE [dbo].[Fact_Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_FACT_RESTAURANTE] FOREIGN KEY([sk_restaurante])
REFERENCES [dbo].[Dim_Restaurante] ([sk_restaurante])
GO
ALTER TABLE [dbo].[Fact_Pedidos] CHECK CONSTRAINT [FK_FACT_RESTAURANTE]
GO
ALTER TABLE [dbo].[Fact_Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_FACT_TIEMPO] FOREIGN KEY([id_tiempo])
REFERENCES [dbo].[Dim_Tiempo] ([id_tiempo])
GO
ALTER TABLE [dbo].[Fact_Pedidos] CHECK CONSTRAINT [FK_FACT_TIEMPO]
GO
ALTER TABLE [dbo].[Fact_Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_FACT_ZONA] FOREIGN KEY([sk_zona])
REFERENCES [dbo].[Dim_Zona] ([sk_zona])
GO
ALTER TABLE [dbo].[Fact_Pedidos] CHECK CONSTRAINT [FK_FACT_ZONA]
GO
/****** Object:  StoredProcedure [dbo].[sp_ETL_CargaIncremental_Pedidos]    Script Date: 2/7/2026 23:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ETL_CargaIncremental_Pedidos]
AS
BEGIN
    SET NOCOUNT ON; 

    BEGIN TRY

        INSERT INTO Dim_Tiempo (id_tiempo, fecha, anio, mes, nombre_mes, dia, trimestre)
        SELECT DISTINCT 
            CAST(FORMAT(p.inicio, 'yyyyMMdd') AS INT), 
            CAST(p.inicio AS DATE), 
            YEAR(p.inicio), 
            MONTH(p.inicio), 
            DATENAME(MONTH, p.inicio), 
            DAY(p.inicio), 
            DATEPART(QUARTER, p.inicio)
        FROM BD_RAPPI.dbo.PEDIDO p
        WHERE CAST(FORMAT(p.inicio, 'yyyyMMdd') AS INT) NOT IN (SELECT id_tiempo FROM DW_RAPPI.dbo.Dim_Tiempo);

        INSERT INTO Fact_Pedidos ( 
            sk_zona, sk_cliente, sk_repartidor, sk_restaurante,
            id_tiempo, id_pedido_origen, id_pago_origen, tipo_pago, monto_total,
            cantidad_productos, tiempo_entrega_minutos, estado_pedido
        )
        SELECT 
            dz.sk_zona, 
            dc.sk_cliente, 
            dre.sk_repartidor, 
            dres.sk_restaurante,
            CAST(FORMAT(p.inicio, 'yyyyMMdd') AS INT), 
            p.id_pedido, 
            pa.id_pago, 
            pa.tipo, 
            p.costototal,
            (SELECT COUNT(id_producto) FROM BD_RAPPI.dbo.PEDIDO_COMPLETO pc WHERE pc.id_pedido = p.id_pedido),
            DATEDIFF(MINUTE, p.inicio, p.fin), 
            p.estado
        FROM BD_RAPPI.dbo.PEDIDO p
        JOIN BD_RAPPI.dbo.PAGO pa ON p.id_pago = pa.id_pago
        JOIN BD_RAPPI.dbo.CLIENTE c ON p.id_cliente = c.id_cliente 
        JOIN DW_RAPPI.dbo.Dim_Zona dz ON c.id_zona = dz.id_zona_origen 
        JOIN DW_RAPPI.dbo.Dim_Cliente dc ON p.id_cliente = dc.id_cliente_origen AND dc.es_actual = 1 
        JOIN DW_RAPPI.dbo.Dim_Repartidor dre ON p.id_repartidor = dre.id_repartidor_origen
        JOIN DW_RAPPI.dbo.Dim_Restaurante dres ON p.id_restaurante = dres.id_restaurante_origen
        WHERE p.id_pedido NOT IN (SELECT id_pedido_origen FROM DW_RAPPI.dbo.Fact_Pedidos);

        PRINT '¡ÉXITO! Se actualizaron las dimensiones y la tabla de hechos correctamente.';
    END TRY
    BEGIN CATCH
        PRINT 'ERROR EN ETL: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
USE [master]
GO
